@page "/regex-tester"
@using System.Text.Encodings.Web
@using System.Text.RegularExpressions
@inject IJSRuntime JSRuntime
@inject ClipboardService ClipboardService
@inject QueryStringService QueryStringService
@implements IDisposable

<h1>.NET Regex Tester</h1>
<p><a href="https://docs.microsoft.com/en-us/dotnet/standard/base-types/regular-expression-language-quick-reference">Regular Expression Language - Quick Reference</a></p>

<label>Pattern</label>
<textarea class="form-control code" @bind="Pattern" @bind:event="oninput" spellcheck="false"></textarea>

<div class="regex-options">
    @foreach (RegexOptions value in Enum.GetValues(typeof(RegexOptions)))
    {
        if (value != RegexOptions.None)
        {
            <label>
                <input type="checkbox" checked="@HasValue(value)" @onchange="(e)=>SetValue(value, (bool)e.Value)" /> @value
            </label>
        }
    }
</div>

<label>Input</label>
<textarea class="form-control code" @bind="Text" @bind:event="oninput" spellcheck="false"></textarea>

<label><input type="checkbox" @bind="Replace" /> Replace</label>
@if (Replace)
{
    <textarea class="form-control code" @bind="Replacement" @bind:event="oninput" spellcheck="false"></textarea>
}

<div>
    <button class="btn btn-primary" @onclick="ExecuteRegex" title="Evaluate with options @Options">Evaluate</button>
    <button class="btn btn-secondary" @onclick="CopyAsCsharp">Copy Regex as C# code</button>
</div>

@if (error != null)
{
    <pre>@error</pre>
}
else if (matches != null)
{
    <p class="match-highlighted match-value" style="white-space: pre-wrap; font-family: monospace">@highlightedText</p>

    @if(replacedText != null)
    {
        <h4>Replacement <small><a href="/string-info?Text=@replacedText">string info</a></small></h4>
        <p class="result" style="white-space: pre-wrap; font-family: monospace">@replacedText</p>
    }

    @foreach (var (index, match) in EnumerateWithIndex<Match>(matches))
    {
        <div class="match">
            <h3>Match @(index + 1)</h3>
            <table class="match-details">
                <tbody>
                    <tr>
                        <td class="match-name">Full match</td>
                        <td class="match-index">@match.Index-@(match.Index + match.Length)</td>
                        <td class="match-value">@match.Value</td>
                        <td><a href="/string-info?Text=@match.Value">string info</a></td>
                    </tr>

                    @foreach (Group group in match.Groups)
                    {
                        foreach (Capture capture in group.Captures)
                        {
                            <tr>
                                <td class="match-name">Group @group.Name</td>
                                <td class="match-index">@capture.Index-@(capture.Index + capture.Length)</td>
                                <td class="match-value">@capture.Value</td>
                                <td><a href="/string-info?Text=@capture.Value">string info</a></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
}

@code {
    [QueryStringParameter]
    public string Pattern { get; set; }
    
    [QueryStringParameter]
    public bool Replace { get; set; }

    [QueryStringParameter]
    public string Replacement { get; set; }

    [QueryStringParameter]
    public string Text { get; set; }

    [QueryStringParameter]
    public RegexOptions Options { get; set; }

    private string error;
    private MatchCollection matches;
    private MarkupString highlightedText;
    private string replacedText;
    private System.Threading.Timer timer;

    RegexContext evaluatedRegex;

    protected override async Task OnInitializedAsync()
    {
        var savedData = await JSRuntime.InvokeAsync<string>("localStorage.getItem", "regextester");
        if (!string.IsNullOrEmpty(savedData))
        {
            try
            {
                var context = System.Text.Json.JsonSerializer.Deserialize<RegexContext>(savedData);
                if (context != null)
                {
                    Pattern = context.Pattern;
                    Options = context.Options;
                    Text = context.Input;
                    Replacement = context.Replacement;
                    Replace = Replacement != null;
                }
            }
            catch
            {
            }
        }

        timer = new System.Threading.Timer(o =>
        {
            _ = ExecuteRegex();
        }, null, TimeSpan.Zero, TimeSpan.FromMilliseconds(500));
    }

    protected override void OnParametersSet()
    {
        QueryStringService.SetParametersFromQueryString(this);
        base.OnParametersSet();
    }

    async Task CopyAsCsharp()
    {
        var text = $"new Regex({WriteStringLiteral(Pattern)}, {WriteRegexOptions(Options)}, TimeSpan.FromSeconds(1))";
        try
        {
            await ClipboardService.WriteTextAsync(text);
        }
        catch
        {
            Console.WriteLine("Cannot write text to clipboard");
        }
    }

    async Task ExecuteRegex()
    {
        var currentContext = new RegexContext(Pattern ?? "", Options, Text ?? "", Replace ? Replacement : null);
        if (currentContext == evaluatedRegex)
            return;

        evaluatedRegex = currentContext;
        await JSRuntime.InvokeVoidAsync("localStorage.setItem", "regextester", System.Text.Json.JsonSerializer.Serialize(evaluatedRegex));
        await QueryStringService.UpdateQueryString(this, reloadPage: false);

        error = null;
        matches = null;
        highlightedText = default;
        replacedText = null;

        try
        {
            matches = Regex.Matches(currentContext.Input, currentContext.Pattern, currentContext.Options, TimeSpan.FromSeconds(5));

            // Highlight result
            var sb = new System.Text.StringBuilder();

            var previousIndex = 0;
            var matchIndex = 0;
            foreach (Match match in matches)
            {
                if (match.Length == 0)
                    continue;

                sb.Append(HtmlEncoder.Default.Encode(currentContext.Input.Substring(previousIndex, match.Index - previousIndex)));
                sb.Append($"<span b-regex class='match-{matchIndex % 2}'>");
                sb.Append(HtmlEncoder.Default.Encode(currentContext.Input.Substring(match.Index, match.Length)));
                sb.Append("</span>");

                previousIndex = match.Index + match.Length;
                matchIndex++;
            }

            sb.Append(HtmlEncoder.Default.Encode(currentContext.Input[previousIndex..]));

            highlightedText = new MarkupString(sb.ToString());

            if (currentContext.Replacement != null)
            {
                replacedText = Regex.Replace(currentContext.Input, currentContext.Pattern, currentContext.Replacement, currentContext.Options, TimeSpan.FromSeconds(5));
            }
        }
        catch (RegexParseException ex)
        {
            error = ex.Message;
        }
        catch (Exception ex)
        {
            error = ex.ToString();
        }

        // Can be called from the timer
        StateHasChanged();
    }

    static IEnumerable<(int, T)> EnumerateWithIndex<T>(IEnumerable<T> enumerable)
    {
        var i = 0;
        foreach (var item in enumerable)
        {
            yield return (i, item);
            i++;
        }
    }

    bool HasValue(RegexOptions flag) => Options.HasFlag(flag);

    void SetValue(RegexOptions flag, bool enable)
    {
        if (enable)
        {
            Options |= flag;
        }
        else
        {
            Options &= ~flag;
        }
    }

    public void Dispose()
    {
        timer?.Dispose();
    }

    private string WriteRegexOptions(RegexOptions options)
    {
        if (options == RegexOptions.None)
            return "RegexOptions.None";

        var values = new List<RegexOptions>();
        foreach (var value in Enum.GetValues<RegexOptions>())
        {
            if (value == RegexOptions.None)
                continue;

            if (options.HasFlag(value))
            {
                values.Add(value);
            }
        }

        return string.Join(" | ", values.Select(v => "RegexOptions." + Enum.GetName(v)));
    }

    private string WriteStringLiteral(string value)
    {
        var sb = new System.Text.StringBuilder();
        sb.Append("\"");
        foreach (var c in value)
        {
            switch (c)
            {
                case '"':
                    sb.Append("\\\"");
                    break;

                case '\t':
                    sb.Append(@"\t");
                    break;

                case '\r':
                    sb.Append(@"\r");
                    break;

                case '\n':
                    sb.Append(@"\n");
                    break;

                case '\a':
                    sb.Append(@"\a");
                    break;

                case '\b':
                    sb.Append(@"\b");
                    break;

                case '\f':
                    sb.Append(@"\f");
                    break;

                case '\v':
                    sb.Append(@"\v");
                    break;

                case '\0':
                    sb.Append(@"\0");
                    break;

                case '\\':
                    sb.Append(@"\\");
                    break;

                default:
                    sb.Append(c);
                    break;
            }
        }
        sb.Append("\"");
        return sb.ToString();
    }

    record RegexContext(string Pattern, RegexOptions Options, string Input, string Replacement);
}